.header {
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 2px solid #9bd0ff;
}

.title {
  font-size: 40px;
  font-weight: bolder;
}

.subtitle {
  color: #9bd0ff;
  font-weight: bold;
  text-align: center;
}

.links ul {
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link {
  list-style: none;
  font-weight: bold;
}

.socials {
  text-align: center;
}

.socialsIcon {
  padding: 0 10px;
}

@media (max-width: 820px) {
  .title {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }

  .links ul {
    gap: 15px;
  }

  .socialsIcon img {
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  .links ul {
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
  }

  .socialsIcon img {
    margin: 10px 0;
  }
}