.projectCard {
  background-color: rgb(34, 33, 32);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.projectCard .title {
  color: #c38bf5;
}

.projectCard .thumbnail {
  width: 100%;
  height: auto;
}

